<manifest package="com.example.yourday"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>

        <receiver android:name=".SecondOfDayWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

        <service
            android:name=".SecondService"
            android:exported="false"/>
    </application>

</manifest>
